<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="btn btn-primary" href= {% url 'Inicio' %} >INICIO</a>
        <a class="navbar-brand" href= {% url 'ListaClientes' %} >Lista Clientes</a>
         <a class="navbar-brand" href= {% url 'RegistroClientes' %} >Registrar Cliente</a>
        <a class="navbar-brand" href= {% url 'RegistroReservas' %} >Registrar Reserva</a>
        <a class="navbar-brand" href= {% url 'VerReservas' %} >Ver Reservas</a>
        
    </div>
</nav>
